@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

body {
	font-family: DarkerGrotesque;
	font-size: 22px;
	font-weight: 500;
}
.container{
	max-width: 1157px;
}
a{
	transition: all 0.3s;
}
.purple-back{
	background-image: url(../img/purple-back.png);
	background-repeat: no-repeat;
	background-position: right -220px center;
}
